.about {
  background-color: $timeless-background-color;

  &__img {

    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 48px;
    display: block;
    aspect-ratio: 16 / 9;







    @include on-desktop {
        height: 460px;
        object-position: center bottom;

    }

 @include on-tablet {
      height: 400px;
      margin-bottom: 120px;
    }
  }

  &__content {
    display: grid;
    color: $button-send-color;
    padding-block: 48px;
    gap: 24px;

    @include page-grid;
  }

  &__container {
    @include cont-padding-inline;
  }

  &__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0;
    margin: 0;

    @include on-tablet {
      grid-column: 1 / -4;
    }

    @include on-tablet {
      font-weight: 700;
      font-style: Bold;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }

    @include on-desktop {
      font-weight: 700;
      font-style: Bold;
      font-size: 48px;
      letter-spacing: 0;
    }
  }

  &__text {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin: 0;
    grid-column: span 2;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }
}
