.button-footer {
  cursor: pointer;
  margin-bottom: 18px;
  margin-top: 16px;
  font-family: Manrope, sans-serif;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  background-color: $main-button-color;
  color: $white;
  border: transparent;
  border-radius: 8px;
  width: 100%;

  &:hover {
    background-color: $button-send-color;
    color: $white;
  }

  &:active {
    background-color: $button-send-color;
    color: $white;
  }
}
