.button {
  padding-top: 40px;
  display: grid;

  &__bodi {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    cursor: pointer;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__label {
    background-color: $main-button-color;
    border-radius: 8px;
    width: 100%;
    height: 56px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $button-send-color;
      color: $main-button-color;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;

    @include page-grid;
  }
}
