.card-info {

  display: none !important;
    row-gap: 20px;

  &__gallery {
    display: flex;
    justify-content:space-around;

  @include cont-padding-inline;


  @include on-tablet {
    padding-block: 72px;
  }

   @include on-desktop  {
  padding-inline: 120px;
  }

  }

  &__top {
    @include hover(transform, scale(1.04, 1.04));

  }

  &__img {
    width: 100%;
  }

  &__title {

    font-family: Manrope sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0px;



@include on-tablet {
    font-family: Manrope sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0px;
}



      @include cont-padding-inline;
    }

}
