.card-info {
  &__gallery {
    @include page-grid;
  }

  &__top {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }

    @include hover(transform, scale(1.04, 1.04));
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;

    @include on-tablet {
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0;
    }
  }
}
