.categories {
  text-align: left;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;

  &__info {
    margin: 0 0 47px;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;

    @include on-tablet {
      font-weight: 700;
      font-style: Bold;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 0;
    }

    @include on-desktop {
      font-weight: 700;
      font-style: Bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: 0;
    }
  }
}
