.content {
  font-family: Manrope, sans-serif;
  font-style: Bold;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 24px 0 8px;
  }

  &__text {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin: 0;
  }

  &__price {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    margin: 12px 0 0;
  }
}
