  .contact {

    @include cont-padding-inline;

&__title {

  margin: 0;
  padding-block: 64px 48px;
  font-family: Manrope sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 32px;
line-height: 32px;
letter-spacing: 0px;

@include on-tablet {
font-style: Bold;
font-size: 40px;
line-height: 100%;
letter-spacing: 0px;
}

@include on-desktop {

  color:  red;
font-style: Bold;
font-size: 48px;
line-height: 48px;
letter-spacing: 0px;
}


}

}





