.contact-bar {
  gap: 20px;
  margin-top: 20px;
  display: grid;
  grid-column: span 2;

  @include on-tablet {
    grid-column: 1 / 6;
  }

  :hover {
    border: solid 1px $imput-text-color;
  }

  :focus-visible {
    border-color: $main-button-color;
    box-shadow: 0 0 0 1px $main-button-color;
    transition:
      transform 0.3s,
      box-shadow 0.2s,
      border-color 0.2s;
  }

  &__input {
    background-color: $form-bagcraund-color;
    font-family: Manrope, sans-serif;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: box-shadow 0.3s ease;
    border-color: 0.3s ease;
  }

  &__input--neme {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    height: 48px;
    padding-left: 16px;
  }

  &__input--email {
    padding-left: 16px;
    height: 48px;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
  }

  &__input--message {
    height: 148px;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0;
    padding: 16px 14px;
    resize: none;
  }
}
