.footer__grid {
  display: grid;


   @include cont-padding-inline;



   





  // &__content {

  //   display: grid;

  //

  // //     @include on-desktop {
  // //  grid-column: span 6;
  // // }

  // }

}
