.header {
  box-sizing: border-box;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(../images/logo/header-bg-mobile.png);
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 0;
    color: #fff;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    vertical-align: middle;
  }
}

.heder__bottom {
  padding-bottom: 40px;

  @include constent-padding-inline;

  @include on-tablet {
    padding-bottom: 64px;
  }

  @include on-desktop {
    padding-inline: 120px;
  }
}
