.header {
  box-sizing: border-box;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(../images/logo/header-bg-mobile.png);
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 0;
    color: $white;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    vertical-align: middle;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 56px;
    }
  }

  &__content {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    display: flex;
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}
