.header {

  display: none !important;
  box-sizing: border-box;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(../images/logo/header-bg-mobile.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 0;
    color: #fff;

    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;

    // letter-spacing: 0px;
    vertical-align: middle;




  }







}

// @media (min-width: 1024px) {
//   .header  {

//     max-width: 1260px;
//      margin: 0 auto;
//      padding: 0 20px;
//   }
// }

// @media (min-width: 1024px) {
//   .header {
//     padding: 0 120px;
//   }
// }

.heder__bottom {
  padding-bottom: 40px;

  @include constent-padding-inline;

  @include on-tablet {
    padding-bottom: 64px;
  }

   @include on-desktop  {
  padding-inline: 120px;
  }


}

// @media (min-width: 768px) {
//   .product {
//     display: flex;

//     // flex-direction: row;
//     justify-content: space-between;
//     align-items: center;

//     padding: 0 120px;

//     // паденги повторяються и  нужно переделать в одно место
//   }
// }

// @media (min-width:768px) {
//   .title__recommended {padding: 0 120px;

//     // паденги повторяються в коде  и  нужно переделать в одно место + плюсуються все отступи

//   }
// }
