.icon {
  height: 24px;
  width: 24px;

  // display: block;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: contain;

  // height: 16px;
  // width: 16px;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  @include hover(transform, scale(1.2, 1.2));

  &--menu {
    background-size: cover;
    background-image: url(../images/icon/icon_burger_menu.png);

    &:hover {
      background-size: contain;

      background-image: url(../images/icon/icon_burger_menu_hover.png);
    }
  }

  &--phone {
    // display: block;
    background-size: cover;

    background-image: url(../images/icon/icon_phone.png);

    // width: 24px;
    // height: 24px;
  }

  &--close {
    // height: 16px;
    background-size: cover;

    background-image: url(../images/icon/icon_close.png);

  //    @include on-desktop  {
  // padding-inline: 120px;
  // } после активации пропадает крестик

  }
}
