.icon {
  height: 24px;
  width: 24px;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  @include hover(transform, scale(1.2, 1.2));

  &--menu {
    background-size: cover;
    background-image: url(../images/icon/icon_burger_menu.png);

    &:hover {
      background-size: contain;
      background-image: url(../images/icon/icon_burger_menu_hover.png);
    }
  }

  &--phone {
    background-size: cover;
    background-image: url(../images/icon/icon_phone.png);
  }

  &--close {
    background-size: cover;
    background-image: url(../images/icon/icon_close.png);
  }
}
