.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $form-bagcraund-color;

  &__top {
    margin-bottom: 32px;
    top: 0;
    z-index: 1;
    background-color: $form-bagcraund-color;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    text-decoration: none;
    color: inherit;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
  }

  &__call-to-order {
    text-decoration: none;
    color: inherit;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 7px;
    border-bottom: solid 1px $main-text-color;
    width: fit-content;
  }
}
