.nav {
  &__item {
    list-style: none;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 22px;
    vertical-align: middle;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: inherit;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      border-radius: 2px;
      width: 100%;
      background-color: $main-text-color;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
