.page {
  box-sizing: border-box;
  padding-bottom: 64px;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0.15px;
  color: $main-text-color;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 140%;

  @include on-tablet {
    padding-bottom: 120px;
  }

  @include on-desktop {
    padding-bottom: 102px;
  }
  &__body {
    margin: 0;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
