.product-info {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;

  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0;

  @include cont-padding-inline;

   @include on-desktop  {
padding-inline: 120px;
  }



  // padding: 20px;
}
