.recommended {
  margin: 0;

  @include on-desktop {
    padding-inline: 120px;
  }

  &__title {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;

    @include on-desktop {
      font-size: 48px;
    }

    text-align: left;
    margin: 0 0 48px;
    font-size: 32px;
    line-height: 100%;
  }
}
