.recommended {
  margin-bottom: 96px;

  &__title {
    margin: 0 0 48px;
    text-align: left;
    font-size: 32px;
    line-height: 100%;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;

    @include on-desktop {
      font-size: 48px;
    }
  }
}
