.recom {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: span 6;
  }

  @include on-desktop {
    grid-column: span 4;
  }

  &__image {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

    @include hover(transform, scale(1.04, 1.04));
  }
}
