.section__title {
  margin: 0;
  padding-block: 64px 48px;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;

  @include on-tablet {
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
  }

  @include on-desktop {
    color: $button-send-color;
    font-style: Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0;
  }
}
