.timeless {
  font-family: Manrope, sans-serif;
  display: grid;
  color: $button-send-color;
  background-color: $timeless-background-color;
  padding-block: 48px;
  gap: 24px;

   @include cont-padding-inline;

   @include page-grid;



  &__title {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0;
    margin: 0px;

    @include on-tablet {
    grid-column: 1 / -4 ;
  }

    @include on-tablet{
      font-family: Manrope sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0px;


  }

     @include on-desktop {
      grid-column: 1 / 6;
    }

    @include on-desktop {
      font-family: Manrope sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 48px;
      letter-spacing: 0px;

    }


  }





  &__text {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin: 0;
    grid-column: span 2;

    @include on-tablet {
    grid-column: 4 / -1 ;
  }

  @include on-desktop {
      grid-column: 7 / -1;
    }
  }


}
