.title {
  padding: 20px 64px 20px 48px;
  
 @include on-desktop {
 padding-inline: 120px;


  }

  &__recommended {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0;




  }

}
