.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  @include on-tablet {
    padding-block: 36px;
    gap: 32px;
  }

  @include on-desktop {
    padding-block: 36px;
  }

  &__phone {
    display: flex;
    align-items: center;
  }

  &__phone-number {
    font-family: inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    vertical-align: middle;
    opacity: 0;
    transform: translateX(0);
    display: none;
  }

  &__phone-clic {
    text-decoration: none;
    color: $footer-contakt-color;
  }

  .top-bar__phone {
    &:hover .top-bar__phone-number {
      opacity: 1;
      transform: translateX(-8px);
      transition: all 0.5s;
    }
  }

  &__logo {
    display: flex;
    height: 16px;

    @include hover(transform, scale(1.04, 1.04));

    @include on-tablet {
      height: 24px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
     @include on-tablet {
    gap: 32px;
  }

  }
}

@media (min-width: 1024px) {
  .top-bar__phone-number {
    display: block;
  }
}
