.top-bar {
  padding-block: 24px;

  @include constent-padding-inline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 72px;
  }

   @include on-desktop  {
  padding-inline: 120px;
  }

  // плюсуется до нав__меню

  &__phone {
    display: flex;
    align-items: center;
  }

  &__phone-number {
    font-family: inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    vertical-align: middle;
    opacity: 0;
    transform: translateX(0);

    // pointer-events: none;
    // transition: opacity 0.3s, transform 0.3s;

    display: none;
  }

  .top-bar__phone {
    &:hover .top-bar__phone-number {
      opacity: 1;
      transform: translateX(-8px);

      // transition-duration: 0.5s;
      transition: all 0.5s;

      // pointer-events: auto;
    }
  }

  &__logo {
    display: flex;
    height: 16px;

    @include hover(transform, scale(1.2, 1.2));

    @include on-tablet {
      height: 24px;
    }

  //    @include on-desktop  {
  // padding-inline: 120px;


  // }
  }

  &__icons {
    display: flex;
    gap: 8px;
  }


}

@media (min-width: 1024px) {
  .top-bar__phone-number {
    display: block;
  }
}



