@import './utils/variables';
@import './utils/mixins';
@import 'blocks/heder';
@import 'blocks/page';
@import 'blocks/top-bar';
@import 'blocks/icon';
@import 'blocks/menu';
@import 'blocks/nav';
@import './blocks/block';
@import './blocks/title';
@import 'blocks/recom__image';
@import './blocks/recom';
@import 'blocks/content';
@import './blocks/product-info';
@import './blocks/card-info';
@import './blocks/button';
@import './blocks/photo';
@import './blocks/timeless';
@import './blocks/contact-bar';
@import './blocks/footer';
@import'./blocks/product';
@import'./blocks/contact';
@import'blocks/these-contacts';
@import'blocks/button-footer';
@import'./blocks/footer__grid';
@import'blocks/wrapper';
