@import './utils/variables';
@import './utils/mixins';
@import 'blocks/heder';
@import 'blocks/page';
@import 'blocks/top-bar';
@import 'blocks/icon';
@import 'blocks/menu';
@import 'blocks/nav';
@import './blocks/recommended';
@import './blocks/recom';
@import 'blocks/content';
@import './blocks/categories';
@import './blocks/card-info';
@import './blocks/button';
@import './blocks/about';
@import './blocks/timeless';
@import './blocks/contact-bar';
@import './blocks/product';
@import './blocks/contact';
@import 'blocks/button-footer';
@import './blocks/footer__grid';
@import './blocks/section__title';
@import './blocks/address';
@import './blocks/container';
@import './blocks/card__wrapper';
@import './blocks/footer';
@import './blocks/main';
