$tablet-min-width: 576px;
$on-desktop-min-width: 1024px;
$main-text-color: #152942;
$main-button-color: #f98921;
$white: #fff;
$button-send-color: #1b2129;
$timeless-background-color: #fcfaef;
$imput-text-color: #7e7e83;
$footer-text-color: #9393a3;
$footer-contakt-color: #191919;
$form-bagcraund-color: #f9f9f9;
